

  //Dichiarazione di una variabile
  $var1: "quello che vuoi";
  $var2: "quello che vuoi 2";

  //Funzioni interne
  p{
    $color: #3f9ddd;
    background-color: saturate( $color, 20% );
    color: desaturate( $color, 40% );
  }

  //Funzioni personali
  @function somma($num1, $num2){
    @return $num1 + $num2;
  }

  //In uso
  p{
    content: somma( 1, 4 ); //5
  }
